linkColor(theColor)
  > line
    stroke theColor
  > use
    fill theColor

.node.parti_EELV
  circle, path
    fill: #acffac
.node.parti_PS
  circle, path
    fill: #ffacc8

.link.Links_Autre
  linkColor(#818181)
